.previewWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.previewBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    width: 90%;
    padding: 15px 20px;
    border: 2px solid #BBBBBB;
    border-radius: 5px;
    max-width: 650px;
    overflow: auto;
}

.previewBlock h3 {
    font-size: 23px;
    color: #2B2B2B;
    margin-bottom: 15px;
}

.previewBlock {
    margin-bottom: 20px;
}

.previewBlockWithHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-width: 0;
    min-height: 94px;
    background-color: white;
    padding: 15px 20px;
    border: 2px solid #BBBBBB;
    border-radius: 0 0 5px 5px;
    max-width: 650px;
    overflow: auto;
}

.previewBlockWithHeader h3 {
    font-size: 23px;
    color: #2B2B2B;
    margin-bottom: 15px;
}

.previewBlockWithHeader p {
    margin-bottom: 20px;
    width: 100%;
}

.headerElStyle {
    display: flex;
    justify-content: flex-start;
    border: solid #BBBBBB;
    border-width: 2px 2px 0;
    border-radius: 5px 5px 0 0;
    width: 90%;
    max-width: 650px;
    background-color: #BBBBBB;
}

.headerElStyle span {
    display: inline-block;
    padding: 10px 20px;
}

.imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
}

.uploadedImage {
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .previewWrapper {
        width: 100%;
    }
}
